@use '@/styles/global.scss' as *;

.main {
	margin: 20px;
	padding: 40px;
	width: max-content;
	border: 1px solid #000000;
	border-radius: 16px;

	h1 {
		margin: 0;
		font-size: fluidFont(24px, 32px, 320px, 1366px);
		color: $colorBlue;
	}
	
	p {
		margin: 0;
		font-size: fluidFont(14px, 16px, 320px, 1366px);
	}
}
