* {
	box-sizing: border-box;
	margin: 0;
	/* stylelint-disable-next-line value-keyword-case */
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: greyscale;
}